.current-category {
    background: #e890b4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2em;

    .section-title {
        color: #fff;
        font-size: 2em;
    }
}