.current-category {
    background: #e890b4;
    margin-bottom: 2em;

    .section-title {
        color: #fff;
        font-size: 2em;
        text-align: left;
        padding-left: 0;
    }
}

.workshopsforday {
    overflow: hidden;
    margin-bottom: 2em;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;

    .workshop-data {
        margin-left: 1em;
    }

    time {
        white-space: nowrap;
        font-weight: 600;
    }

    .workshop-link {
        margin-bottom: 0;
        padding-top:1em;
        padding-bottom: 1em;
        padding-left: .5em;
    }

}

.workshop-selector {
    margin-left: 0;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1.5em;
}

.course {
    padding: 0 1em;
}
