@import '../../../variables';

.workshop {
  &-header {
    background-image: linear-gradient(to top, rgba($bt-pink, 1) 0, rgba($bt-pink, 1) 5%, rgba($bt-yellow, 0) 55%);
    margin-top: space(3) * -1;
  }

  &-headerTitleArea {
    background-image: linear-gradient(to top, rgba($bt-pink, 1) 0, rgba($bt-pink, 1) 5%, rgba($bt-yellow, 0) 55%),
    url('https://source.unsplash.com/random/1024x768'),;
    background-size: cover, cover;
    min-height: 24rem;

    h1 {
      margin: 0 0 space(2) ;
    }
  }

  &-actionBar {
    padding: space(3) 0 ;
  }

  &-instructor {
    p {
      margin-left: space(3);
    }
  }

  &-actionButtonContainer {

    button {
      display: block;
    }
  }

}

@media (max-width: 768px) {
  .workshop {
    &-header {
      background-image: none;

    }

    &-metaData {
      margin-top: space(3);
    }

    &-actionButtonContainer {
     margin-top: space(3);
    }

    &-body {
      margin-bottom: space(7);
    }
  }
}
