.landing-preview {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #F7F7F7; 
    .card-scroll {
      display: inline-block;
    }
}

.preview-card {
  padding: .5rem;
}

.card-scroll {
  // border: 1px solid orange
}

.card-scroll-single {
  display: inline-block;
}

.card-scroll-single:hover {
  opacity: 0.7;
}