.landing-preview {
  background: #F7F7F7;
    .card-scroll {
      display: inline-block;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      width: 100vw;
      -webkit-overflow-scrolling: touch;
    }
}

.preview-card {
  padding: .5rem;
}
.card-scroll-single {
  display: inline-block;
}

.card-scroll-single:hover {
  opacity: 0.7;
}