.user{

    .schedule-dropdown {
        max-width: 370px;
    }
.user-profile {
    justify-content: center;

    .cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.date {
    justify-content: flex-start;
    display: flex;
}

.profile-pic {
    text-align: center;
    margin-bottom: 1em;
}

.profile-frame {
    border-radius: 100px;
    width: 118px;
    overflow: hidden;
 

    img {
        object-fit: cover;
    }
}


.user-info {
    text-align: center;
}
}

.workshops-list {
    .workshop {
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    .button {
        max-height: 2.5em;
    }

   .calender {
        border: 1px solid #000;
        padding: .5em;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 1em;
        margin-top: 0;
        margin-left: 0;
    }

    .from-now {
        color: #666666;
        font-weight: 600;
      }
}

.button-container {
    margin-top: 1em;
    width: 100%;
    .button {
        width: 100%;
    }
}

.workshop-info {
    display: flex;
    flex-direction: column;

}