.grid-container h1 {
  text-align: center
}

.enroll-top {
  height: 20vh;
  text-align: center;
}

.enroll {
  align-items: center;

  button {
    width: 20rem;
    margin-top: 8rem;
  }
}

.detail {
  padding-top: 3rem;
}

.description {
  text-align: center;
  padding: 0rem 4rem 0rem 4rem;
}

.feedback {
  padding-top: 4rem;
}

.email {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 600px) {
  .enroll {
    padding-top: 6rem;
  }
  .detail {
    padding-top: 1rem;
  }
  .description {
    padding: 0rem 1rem 0rem 1rem;
  }
}