.card-scroll {
  display: inline-block;
}

.picture-frame {
  height: 245px;
  overflow: hidden;
  position: relative;
 
}

.workshop-preview-title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 800;
}

.upcoming-workshops {
  display: grid;
}