.logo {
    width: 100%;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .logo {
        max-width: 50px;
    }
}

.navbar {
    background: #ffffff;
    padding-top: 20px;
}

.search-container {
    position: relative;
    .button {
        position: absolute;
        top: 1px;
        right: 0;
        background: transparent;
        color: #000;
    }
}