.logo {
    width: 100%;
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .logo {
        max-width: 50px;
    }
}

.navbar {
    position:absolute;
    background: #ffffff;
    padding-top: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom: 1.5em;
    z-index:9999;
}
.input-search-icon{
    text-decoration:none;
}