.search-container {
  position: relative;
  margin-top:1rem;
  .button {
      position: absolute;
      top: 1px;
      right: 0;
      background: transparent;
      color: #000;
  }
}
.search-result-hover{
  padding:.5rem;
  :hover{
    color:black;
  }
}