h2 {
  color: #86c5fc;
}
.custom-cards {
  background: rgb(232, 195, 253);
  background: linear-gradient(
    90deg,
    rgba(232, 195, 253, 1) 35%,
    rgba(134, 197, 252, 0.7013888888888888) 100%
  );
  color: white;
}
