.main {
  padding-bottom: 7rem;
  background-color: #F7F7F7;
}

.grid-display {
  display: grid;
}

.section-title {
  text-align: center;
  padding: 1em;
}

.center {
  text-align: center;
  padding: 3rem;
}

.button {
  background: #5e9bb1;
}