@import 'varibles';

body {
  background: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.main {
  padding-bottom: 7rem;
  background-color: rgba($bt-yellow, 0.05);
  margin: space(3) auto;
  border-left: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
}

.grid-display {
  display: grid;
}

.section-title {
  text-align: center;
  padding: 1em;
}

.center {
  text-align: center;
  padding: 3rem;
}

.button {
  background: #5e9bb1;
}

a {
  color:black;
}

.time-header {
  color: #666;
}

