@import 'variables';

body {
  background-color: rgba($bt-yellow, 0.25);
  color: $bt-black;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

b {

}

h1, h2, h3, h4, h5 {
  color: $bt-black;
  font-weight: 500;
}

a {
  color: $bt-black;
  text-decoration: underline;
}

button {
  border-radius: $border-radius;
  cursor: pointer;
  padding: space(2) space(3);


}

.-primary {
  background-color: $bt-pink;
  border: 0.125rem solid $bt-pink;
  color: $bt-white;

  &:hover {
    background-color: rgba($bt-pink, 0.8);
  }
}

.-secondary {
  background-color: $bt-white;
  border: 0.125rem solid $bt-pink;
  color: $bt-pink;

  &:hover {
    background-color: rgba($bt-pink, 0.125);
  }
}

.main-wrapper {
  margin-top: space(6);
}
