.message-container{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background-color: rgba(0,0,0,.8);
  height:100%;
}
.message-wrapper{
  width:80%;
  height:200px;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.message-content{
  text-align: center;
  width:60%;
}
.message-success{
  color:green;
}
.message-error{
  color:red;
}
